body, html{
	margin:0px;
	border: 0px;
	height: 100%;
}
ul{
	margin:0px;
}
#primaryGrid{
	display: grid;
	grid-template-rows: 20% 80%;
	height: 100%;
	width: 100%;
}
#headerGrid{
	display: grid;
	grid-template-columns: 90% 10%;
}
#contentGrid{
	display: grid;
	grid-template-columns: 25% 75%
	
}
#header{
	display: grid;
	grid-template-columns:  50% auto;
	background-color: #606060;
	height: 100%;
}
#compName{
	color: lightgrey;
	border-left: 5%;
}
#login{
	background-color: #23b2ff;
	height: 100%;
}
#orderForm{
	background-color: #3a3a3a;
	height: 100%;

}
#orderForm > input{
	margin-left: 7.5%;
	margin-bottom:5%;
	width: 80%;
	padding:2.5%;
	border:none;
	font-size: 80%
}
#orderForm > button{
	margin-left: 7.5%;
	margin-bottom:5%;
	width: 80%;
	padding:2.5%;
	font-size: 80%;
	border:none;
	background-color:#23b2ff;
	color:white;
}
#orderForm > label > b {
	color: white;
	margin-left: 7.5%;
}
#orderList{
	background-color: #e2e2e2;
	height: 100%;
}
#carImg{
	height: 100%;

}
.hide{
	display: none;
}