body, html{
	margin:0px;
	border: 0px;
	height: 100%;

}
ul{
	margin:0px;
}
#primaryGrid{
	display: grid;
	grid-template-rows: 20% 80%;
	height: 100%;
	width: 100%;
}
#headerGrid{
	display: grid;
	grid-template-columns: 90% 10%;
}
#contentGrid{
	display: grid;
	grid-template-columns: 25% 75%
	
}
#header{
	display: grid;
	grid-template-columns:  75% auto;
	background-color: #606060;
	height: 100%;
}
#compName{
	color: lightgrey;
	border-left: 5%;
}
#login{
	background-color: #23b2ff;
	height: 100%;
}
#orderForm{
	background-color: #3a3a3a;
	height: 100%;

}
#orderForm > input{
	margin-left: 7.5%;
	margin-bottom:5%;
	width: 80%;
	padding:2.5%;
	border:none;
	font-size: 80%
}
#orderForm > input:last-of-type {
	margin-left: 7.5%;
	margin-bottom:5%;
	width: 80%;
	padding:2.5%;
	font-size: 80%;
	border:none;
	background-color:#23b2ff;
	color:white;
}
#orderForm > label > b {
	color: white;
	margin-left: 7.5%;
}
#orderList{
	background-color: #e2e2e2;
	height: 100%;
}
#orderList > div{
	margin:1.25%;
	width: 97.5%;
	overflow: auto;
	display: grid;
	grid-template-columns:  10% 14% 14% 18% 14% 14% AUTO;
	height: 7.5%;
}
#orderList >div > div{
	height: auto;
	text-align: center;
}
#carImg{
	height: 100%;

}
.hide{
	display: none;
}
#logoutBtn{
	background-color: #515151;
    color: #23b2ff;
	border: none;
	width:85%;
	height: 85%;
	padding: 5%;
	margin: 7.5%;
}
#logoutBtn:hover{
	background-color: #474747; 
}

.modalBtn{
	height: 100%;
}
.modals{
	display: none;
	background-color: #696969;
	position: fixed;
	width: 100%; 
	bottom: 0px;
	z-index: 99;
}
.modal-content{

}
.close{
	width:90%;
	padding:0.5%;
	height: auto;
	text-align: center;
	background-color: rgb(82, 15, 15);
	color:lightgrey;
	margin-left: 5%;
}
#msgForNoOrders{
	display: none;
}