body, html{
	margin:0px;
	border: 0px;
	height: 100%;
}
ul{
	margin:0px;
}
#primaryGrid{
	display: grid;
	grid-template-rows: 20% 80%;
	height: 100%;
	width: 100%;
}
#headerGrid{
	display: grid;
	grid-template-columns: 85% 15%;
	
}
#contentGrid{
	display: grid;
	grid-template-columns: 25% 75%

}
#header{
	display: grid;
	grid-template-columns:  50% auto;
	background-color: #606060;
	height: 100%;
}
#login{
	background-color: #23b2ff;
	height: 100%;
}
#orderForm{
	background-color: #3a3a3a;
	height: 100%;

}
#orderForm > input{
	width: 80%;
	border-radius: 5px;
}
#orderForm > label > b {
	color: white;
}
#orderList{
	background-color: #e2e2e2;
	height: 100%;
}
#carImg{
	height: 100%;

}
