body, html{
	margin:0px;
	border: 0px;
	height: 100%;
}
ul{
	margin:0px;
}
#primaryGrid{
	display: grid;
	grid-template-rows: 20% 80%;
	height: 100%;
	width: 100%;
}
#headerGrid{
	display: grid;
	grid-template-columns: 85% 15%;
	
}
#contentGrid{
	display: grid;
	grid-template-columns: 40% 60%

}
#header{
	background-color: blue;
	height: 100%;
}
#login{
	background-color: green;
	height: 100%;
}
#orderForm{
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 5% 20% 5% 20% 10% auto;
	grid-gap: 2.5%;
	background-color: yellow;
	height: 100%;

}
#orderList{
	background-color: red;
	height: 100%;
}
